.about-me-container{
    display: flex;
    justify-content: center;
}

.AboutMeLeft{
    flex: 1;
    padding: 5rem;
    max-width: 800px;

}

.AboutMeLeft h1{
    font-size: 96px;
    color: #112D4E;
}

.AboutMeLeft p{
    font-size: 32px;
    color: #112D4E;
}
.AboutMeRight{
    flex: 1;
    align-items: center;
}