

.homepage{
	background-color: #112D4E;
	display: flex;
	gap: 2rem;
	justify-content: center;
	background-image: 
    linear-gradient(rgba(17, 45, 78, 0.5), rgba(17, 45, 78, 0.5)),
    url("../assets/Bg1.png");
	background-size: cover;
	height: 850px;

}

.Left h3{
	padding-top: 0rem;
	margin: 0;
}

.Left{
	padding-top: 10rem;
	flex: 1rem;
	max-width: 800px;
	/*ackground-color: antiquewhite;*/

}

.Right {
  	 flex: 0;
	/*background-color: rgb(80, 80, 80);*/
	 max-width: 900px;
	 padding-right: 0rem;
	 

}

.Right img{
  	 width: 748px;

}

.name{
	color: white;
	padding-top: 8	rem;
}

.name h1{
	font-size: 128px;
	margin: 0;
}

.name h3{
	font-size: 48px;
	margin: 0;
	font-weight: normal;
}

button.btn{
	margin-top: 2rem;
	margin-right: 1rem;
	padding: 1rem 2rem;
	font-size: 24px;
	background-color: #ffffff;
	color: #112D4E;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: box-shadow 0.3s ease;
}

button.btn:hover{
	  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}