.projects-section{
    background-color: #DBE2EF;
    padding: 5rem;
    text-align: center;
    overflow: hidden;
}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #1B2D37;
}


.project-card {
  position: relative;
  width: 720px;
  height: 420px;
  border-radius: 16px;
  overflow: hidden;
  background-color: #2563eb;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.swiper{
    background-color: #434855;
    gap: 10px;
}


.project-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.project-overlay h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.project-overlay p {
  font-size: 0.9rem;
  opacity: 0.85;
}


