
.navbar{
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
	margin: 0;
    background: #112D4E;
	color: rgb(255, 255, 255);
	font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;

}

.logo {
	font-weight: 700;
	letter-spacing: 0.2px;
	font-size: 32px;
	color: rgb(255, 255, 255);
}

.nav-links{
	display: flex;
	gap: 1.25rem;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
}

.nav-links a{
	padding: 0.25rem 0.35rem;
}

.nav-links a,
.logo {
  color: white;
  text-decoration: none;
}

.nav-links a:hover,
.logo:hover {
  color: #DBE2EF; /* or any highlight color you want */

}

