
.navbar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
	margin: 0;

	background: transparent;
  	transition: background 0.3s ease, box-shadow 0.3s ease;


	color: rgb(255, 255, 255);
	font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;

	z-index: 1000;

}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: white;
  transition: opacity 0.3s ease;
}

.navbar--solid::after {
  opacity: 0;
}

.navbar--solid {
  background: #112d4e;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(255, 255, 255, 0);
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.logo {
	font-weight: 700;
	letter-spacing: 0.2px;
	font-size: 32px;
	color: rgb(255, 255, 255);
}

.nav-links{
	display: flex;
	gap: 1.25rem;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
}

.nav-links a{
	padding: 0.25rem 0.35rem;
}

.nav-links a,
.logo {
  color: white;
  text-decoration: none;
}

.nav-links a:hover,
.logo:hover {
  color: #DBE2EF; /* or any highlight color you want */

}

